<div id="chart"></div>

<% content_for :js do %>
  <script type="text/javascript">
   google.load("visualization", "1", {
     packages: ["corechart"]
   });
   
   google.setOnLoadCallback(function() {
     var chart, data;
     data = new google.visualization.DataTable();
     data.addColumn('string', 'Date');
     data.addColumn('number', 'Users');
     data.addColumn('number', 'Photos');
     data.addRows(  <%= @users.count %> );
     <% k = 0 %>
     <% @users.each do |user| %>
     data.setValue(<%=k %>,0,"<%= user[0] %>");
     <% k+=1 %>
     <% end %>
     <% k = 0 %>
     <% @users.each do |user| %>
     data.setValue(<%=k %>,1,<%= user[1] %>);
     <% k+=1 %>
     <% end %>
     <% k = 0 %>
     <% @photos.each do |photo| %>
     data.setValue(<%=k %>,2,<%= photo[1] %>);
     <% k+=1 %>
     <% end %>
     chart = new google.visualization.LineChart(document.getElementById('chart'));
     return chart.draw(data, {
       width: 1000,
       height: 700,
       title: 'New Users and photos'
     });
   });
  
  </script>
<% end %>