<html>
<head>
  <title>Analyst</title>
  <script type="text/javascript" src="https://www.google.com/jsapi"></script>
  <%= stylesheet_link_tag    "analyst" %>
  <%= javascript_include_tag "analyst" %>
  <script type="text/javascript">
  	$(function() {
  		$( "#datepicker1" ).datepicker({
  		  showOptions: {direction: 'up' },
  		  defaultDate: '-1m',
  		  showMonthAfterYear: true, // 月在年之后显示  
        changeMonth: true,     // 允许选择月份  
        changeYear: true,     // 允许选择年份  
        dateFormat:'yy-mm-dd',    // 设置日期格式  
        closeText:'关闭',     // 只有showButtonPanel: true才会显示出来  
        duration: 'fast',  
        showAnim:'fadeIn',  
      //  showOn:'button',     // 在输入框旁边显示按钮触发，默认为：focus。还可以设置为both  
     //   buttonImage: 'images/commons/calendar.gif',     // 按钮图标  
      //  buttonImageOnly: true,                // 不把图标显示在按钮上，即去掉按钮  
    //    buttonText:'选择日期',  
    //    showButtonPanel: true,  
        showOtherMonths: true,  
    //    appendText: '(2011-10-10)',
  		});
  	});
  	$(function() {
  		$( "#datepicker2" ).datepicker({
 //       currentText: '2011-10-20',
  		  showMonthAfterYear: true, // 月在年之后显示  
        changeMonth: true,     // 允许选择月份  
        changeYear: true,     // 允许选择年份  
        dateFormat:'yy-mm-dd',    // 设置日期格式  
        closeText:'关闭',     // 只有showButtonPanel: true才会显示出来  
        duration: 'fast',  
        showAnim:'fadeIn',  
      //  showOn:'button',     // 在输入框旁边显示按钮触发，默认为：focus。还可以设置为both  
     //   buttonImage: 'images/commons/calendar.gif',     // 按钮图标  
      //  buttonImageOnly: true,                // 不把图标显示在按钮上，即去掉按钮  
    //    buttonText:'选择日期',  
    //    showButtonPanel: true,  
        showOtherMonths: true,  
        //appendText: '(yyyy-mm-dd)',
  		});
  	});
  </script>
  <%= csrf_meta_tags %>
  <%= yield :js %>
</head>
<body>
  <p> 数据分析 </p>
  <div id="columns">
    <div id="side">
      <div>
        <p>开始时间: <input type="text" id="datepicker1"></input></p>
        <p>结束时间: <input type="text" id="datepicker2"></input></p>
      </div>
      
      <div>
        <p> 统计内容: 
          <select>
            <option value="user">用户</option>
            <option value="photo">图片</option>
            <option value="video">视频</option>
            <option value="photovideo">图片和视频</option>
          </select>
        </p>
        <p> 时间单位:
          <select>
            <option value="day" >每天</option>
            <option value="hour">小时</option>
            <option value="week">星期</option>
          </select>         
      </div>
      
      
      
      
    </div>
    <div id="main">
      <%= yield %>
    </div>
  </div>  
</body>
</html>
